# OpenFOAM files
0.org/
constant/polyMesh/
system/
VTK/
*.foam

# CFDEM files
DEM/post/
packing_cfdem/CFD/-p/
packing_cfdem/CFD/0/
packing_cfdem/CFD/constant/polyMesh/
packing_cfdem/CFD/system/

# CFD result files - ignore all time folders except 0/
CFD/processor*/[0-9]*/
CFD/processor*/[0-9]*.[0-9]*/
CFD/processor*/[0-9]*.[0-9]*.[0-9]*/
CFD/processor*/constant/polyMesh/

# VTK files
*.vtk
VTK/

# Post processing folders
post/
DEM/post/
packing_cfdem/post/

# Temporary files
*.tmp
*.temp
*~

# Log files
*.log

# Backup files
*.backup

# Compiled files
*.o
*.so
*.a
